

.about-container {
  padding: 40px;
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.about-title {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #0d6efd;
}

.about-text {
  font-size: 18px;
  color: #444;
  max-width: 800px;
  margin: auto;
  line-height: 1.7;
  margin-bottom: 40px;
}

.about-card-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.about-card {
  background: #ffffff;
  width: 330px;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  transition: 0.3s;
  text-align: left;
}

.about-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 6px 20px rgba(0,0,0,0.14);
}

.about-card h2 {
  font-size: 22px;
  margin-bottom: 10px;
  color: #0d6efd;
}

.about-card p {
  font-size: 16px;
  color: #555;
}