.navbar {
  background:burlywood;
  padding: 12px 25px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.06);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-brand img {
  height: 70px;
  width: auto;
}

.nav-link {
  font-size: 18px;
  font-weight: 600;
  margin-right: 35px;
  color: #222 !important;
  position: relative;
  padding-bottom: 6px;
  transition: color 0.3s ease;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0%;
  background: #0a60bd;
  border-radius: 20px;
  transition: width 0.3s ease;
}

.nav-link:hover {
  color: #0a60bd !important;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-link.active::after {
  width: 100%;
}

.nav-link.active {
  color: #0a60bd !important;
}
.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  filter: invert(1);
}

@media (max-width: 991px) {
  .navbar-nav {
    padding: 10px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  }

  .nav-link {
    padding: 12px 10px;
    margin-right: 0;
    border-bottom: 1px solid #f2f2f2;
  }

  .nav-link:last-child {
    border-bottom: none;
  }
}